<!-- Start About -->
<section class="full-page clearfix" id="about">
    <div class="about">
        <div class="container-fluid">
            <div class="about-wrapper">
                <div class="row d-flex align-items-center">
                    <div class="col-lg-6">
                        <div class="about-content">
                            <h1><span>I'm</span> Robert Smith</h1>
                            <h4>ui/ux designer </h4>
                            <p>Lorem ipsum dolor sit amet, velit ut suspendisse magna varius magnis. Pharetra et, molestie phasellus proin tempor velit velit orci, mollis adipiscing, sagittis justo laoreet eget suspendisse sollicitudin urna, malesuada leo sit wisi id. Odio duis, diam massa taciti elementum eget leo, id massa </p>
                            <p>phasellus, consectetuer ac faucibus, vitae nostra proin sed accumsan risus integer, volutpat nunc sit dui. Libero lectus vel, eu mollis duis consectetuer nibh, amet amet, suspendisse tempus eu ante mauris. Malesuada lacinia vita.</p>
                            <p>Lorem ipsum dolor sit amet, velit ut suspendisse magna varius magnis. Pharetra et, molestie phasellus proin tempor velit velit orci, mollis adipiscing, sagittis justo laoreet eget suspendisse sollicitudin urna, malesuada leo sit wisi id. Odio duis, diam massa taciti elementum eget leo, id massa</p>
                            <div class="clearfix">
                                <ul class="list-inline home-social-share float-left">
                                    <li class="list-inline-item"><a href="{{site.facebook_url}}"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                    <li class="list-inline-item"><a href="{{site.twitter_url}}"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                    <li class="list-inline-item"><a href="{{site.github_url}}"><i class="fa fa-github" aria-hidden="true"></i></a></li>
                                    <li class="list-inline-item"><a href="{{site.youtube_url}}"><i class="fa fa-youtube" aria-hidden="true"></i></a></li>
                                </ul>
                                <a href="#" class="home-cv-btn btn btn-link float-right">download cv <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="profile-img">
                            <img class="img-fluid" src="{{site.baseurl}}/assets/images/author.png" alt="author" class="img-fluid">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End About  -->