<!-- Start Contact ===================================-->
<section class="full-page pd-0 clearfix" id="contact">
    <div class="contact">
        <div class="container-fluid">
            <div class="contact-wrapper text-center">
                <div class="section-title">
                    <div class="border-center"></div>
                    <h2>get in touch</h2>
                    <div class="border-center"></div>
                </div>
                <div class="contact-main">
                    <div class="row">
                        <div class="col-md-4 col-sm-12">
                            <div class="contact-info">
                                <div class="contact-box  wow fadeIn text-center">
                                    <div class="contact-box-logo"><img src="{{site.baseurl}}/assets/images/location.png" alt="services logo"/></div>
                                    <a href="#">
                                        <h5>location</h5>
                                    </a>
                                    <div class="contact-border"></div>
                                    <p>Manchester Road 12-8B</p>
                                    <p>Silictown 7854MD,</p>
                                    <p>Great Country</p>
                                </div>
                                <div class="contact-box  wow fadeIn text-center">
                                    <div class="contact-box-logo"><img src="{{site.baseurl}}/assets/images/mobile.png" alt="services logo" />
                                    </div>
                                    <a href="#">
                                        <h5>phone</h5>
                                    </a>
                                    <div class="contact-border"></div>
                                    <p>+00456-69879</p>
                                    <p>+00456-69870</p>
                                    <p>+00658-89781</p>
                                </div>
                                <div class="contact-box  wow fadeIn text-center">
                                    <div class="contact-box-logo"><img src="{{site.baseurl}}/assets/images/mouse.png" alt="services logo" />
                                    </div>
                                    <a href="#">
                                        <h5>e-mail address</h5>
                                    </a>
                                    <div class="contact-border"></div>
                                    <a href="#">themeix@gmail.com</a>
                                    <a href="#">info@themeix.com</a>
                                    <a href="#">www.themeix.com</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-8 col-sm-12">
                            <div class="contact-form text-left">
                                <h3><span>hello</span>..... bro you can send your message from here.</h3>
                                <form action="#">
                                    <div class="form-row">
                                        <div class="form-group first-name col-md-12">
                                            <input type="text" class="form-control" placeholder="First name" required>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group url col-md-6">
                                            <input type="text" class="form-control" placeholder="Website">
                                        </div>
                                        <div class="form-group email col-md-6">
                                            <input type="email" class="form-control" placeholder="Email" required>
                                        </div>
                                    </div>
                                    <div class="form-group comment">
                                        <textarea placeholder="write your comment" id="textarea" rows="8"></textarea>
                                    </div>
                                    <button type="submit" class="hover-rpl btn btn-primary">Send Message</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
		<div id="background-wrap">
			<div class="bubble x1"></div>
			<div class="bubble x2"></div>
			<div class="bubble x3"></div>
			<div class="bubble x4"></div>
			<div class="bubble x5"></div>
			<div class="bubble x6"></div>
			<div class="bubble x7"></div>
			<div class="bubble x8"></div>
			<div class="bubble x9"></div>
			<div class="bubble x10"></div>
		</div>
    </div>
</section>
<!-- End Content -->