<div class="row">
    <div class="col-md-4 col-sm-4">
        <div class="skills-flower-image">
            <img src="{{site.baseurl}}/assets/images/flower-img.png" alt="flower image" />
        </div>
    </div>
    <div class="col-md-8">
        <div class="skills-project-box wow fadeInRight">
            <h5>lests get started on your project </h5>
            <p>Lorem ipsum dolor sit amet, augue lacus duis aliquam </p>
            <a href="" class="skills-project-btn btn-primary btn">get in touch</a>
        </div>
    </div>
</div>