<!DOCTYPE HTML>
<html lang="zxx">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
	<meta name='description' content='{% if page.description %}{{ page.description | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}'>
    <meta name="keywords" content="{% if page.keywords %}{{ page.keywords}}{% else %}{{ site.keywords }}{% endif %}">
    <title>{{site.title}}</title>
    <!--call favicon icon-->
    <link rel="icon" href="{{site.baseurl}}/assets/images/favicon.png" type="image/x-icon"/>
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="{{site.baseurl}}/assets/css/bootstrap.min.css"/>
    <!-- Font-awesome style -->
    <link rel="stylesheet" href="{{site.baseurl}}/assets/css/font-awesome.min.css"/>
    <!-- lightbox style -->
    <link rel="stylesheet" href="{{site.baseurl}}/assets/css/lightbox.min.css"/>
	<!-- animated style -->
    <link rel="stylesheet" href="{{site.baseurl}}/assets/css/animate.css"/>
    <!-- Custom styles -->
    <link href="{{site.baseurl}}/assets/css/style.css" rel="stylesheet"/>
    <!-- Custom responsive styles -->
    <link href="{{site.baseurl}}/assets/css/responsive.css" rel="stylesheet"/>
    <!--call lora font stylesheet-->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700|Roboto:300,400,700" rel="stylesheet">
</head>

<body data-spy="scroll" data-target=".navbar-scrolled" data-offset="0" class="scrollspy-example loading">
    {% include header.html %}

     {{ content }}

    <!-- Start Loading ===================================-->
    <div class="loading">
        <div class="sk-folding-cube">
            <div class="sk-cube1 sk-cube"></div>
            <div class="sk-cube2 sk-cube"></div>
            <div class="sk-cube4 sk-cube"></div>
            <div class="sk-cube3 sk-cube"></div>
        </div>
    </div>
    <!-- End Loading ==================-->
    <!-- Call plugin File -->
    <script src="{{site.baseurl}}/assets/js/jquery.min.js"></script>
    <script src="{{site.baseurl}}/assets/js/popper.min.js"></script>
    <script src="{{site.baseurl}}/assets/js/bootstrap.min.js"></script>
    <script src="{{site.baseurl}}/assets/js/jquery.easing.min.js"></script>
    <script src="{{site.baseurl}}/assets/js/isotope.pkgd.min.js"></script>
    <script src="{{site.baseurl}}/assets/js/lightbox.min.js"></script>
    <script src="{{site.baseurl}}/assets/js/macy.min.js"></script>
    <script src="{{site.baseurl}}/assets/js/jquery.nicescroll.min.js"></script>
    <script src="{{site.baseurl}}/assets/js/wow.min.js"></script>
    <script src="{{site.baseurl}}/assets/js/custom.js"></script>
</body>
 </html>
